# Module Title:         Network Systems and Administration
# Module Code:          B9IS121
# Module Instructor:    Kingsley Ibomo
# Assessment Title:     Automated Container Deployment and Administration in the Cloud
# Assessment Number:    1
# Assessment Type:      Practical
# Assessment Weighting: 60%
# Assessment Due Date:  Sunday, 9 November 2025, 8:36 AM
# Student Name:         Mateus Fonseca Campos
# Student ID:           20095949
# Student Email:        20095949@mydbs.ie
# GitHub Repo:          TBA

# Downloads, installs and configures GitHub Actions self-hosted runner on the web server
- name: GitHub Actions self-hosted runner on the web server
  hosts: web_servers
  tasks:
    - name: Install GitHub Actions self-hosted runner
      ansible.builtin.shell: |
        mkdir ~/actions-runner && cd ~/actions-runner
        curl -o actions-runner-linux-x64-2.329.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.329.0/actions-runner-linux-x64-2.329.0.tar.gz
        tar xzf ./actions-runner-linux-x64-2.329.0.tar.gz

        TOKEN=$(curl -L \
                -X POST \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer 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" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/20095949-mateus-campos/flask-app-test/actions/runners/registration-token | \
                python3 -c "import sys, json; print(json.load(sys.stdin)['token'])")

        ./config.sh --url https://github.com/20095949-mateus-campos/flask-app-test --token $TOKEN --unattended

    - name: Install and start runner service
      ansible.builtin.shell: |
        cd ~/actions-runner
        sudo ./svc.sh install
        sudo ./svc.sh start
