# Module Title:         Network Systems and Administration
# Module Code:          B9IS121
# Module Instructor:    Kingsley Ibomo
# Assessment Title:     Automated Container Deployment and Administration in the Cloud
# Assessment Number:    1
# Assessment Type:      Practical
# Assessment Weighting: 60%
# Assessment Due Date:  Sunday, 9 November 2025, 8:36 AM
# Student Name:         Mateus Fonseca Campos
# Student ID:           20095949
# Student Email:        20095949@mydbs.ie
# GitHub Repo:          TBA

# Downloads, installs and configures Docker on the web server
- name: Docker on the web server
  hosts: web_servers

  # Loads environment variables from .env file
  vars:
    env: "{{ lookup('ansible.builtin.file', '../.env') }}"

  tasks:
    # Deploys Docker containers to web server
    - name: push
      local_action:
        # builds and pushes local Docker image to remote repository
        module: shell
        cmd: |
          "docker login -u $(echo {{ env }} | grep -w DOCKER_USERNAME | sed -e 's/.*=//') -p $(echo {{ env }} | grep -w DOCKERHUB_TOKEN | sed -e 's/.*=//')"
          docker build -t 20095949/networking-ca1:latest ../flask/.
          docker push 20095949/networking-ca1:latest
    - name: mkdir 
      # copies Docker compose file from local host to remote host over SSH
      ansible.builtin.file:
        path: ~/nginx
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0777'
    - name: copy 
      ansible.builtin.copy:
        src: "{{ item.src }}" 
        dest: "{{ item.dest }}"
        owner: ubuntu
        group: ubuntu
        mode: '0777'
      loop:
        - src: ../compose.yaml
          dest: ~/.
        - src: ../nginx/default.conf
          dest: ~/nginx/default.conf
    - name: pull and run   
      # pulls and runs Docker containers on the web server
      ansible.builtin.shell: |
        "docker login -u $(echo {{ env }} | grep -w DOCKER_USERNAME | sed -e 's/.*=//') -p $(echo {{ env }} | grep -w DOCKERHUB_TOKEN | sed -e 's/.*=//')"
        sudo docker compose pull
        sudo docker stop $(sudo docker ps -a -q) || true
        sudo docker system prune -f
        sudo docker compose up -d
