# Module Title:         Network Systems and Administration
# Module Code:          B9IS121
# Module Instructor:    Kingsley Ibomo
# Assessment Title:     Automated Container Deployment and Administration in the Cloud
# Assessment Number:    1
# Assessment Type:      Practical
# Assessment Weighting: 60%
# Assessment Due Date:  Sunday, 9 November 2025, 8:36 AM
# Student Name:         Mateus Fonseca Campos
# Student ID:           20095949
# Student Email:        20095949@mydbs.ie
# GitHub Repo:          https://github.com/20095949-mateus-campos/networking-ca1

# This file belongs to Part 4: CI/CD Pipeline Integration

# Downloads, installs and configures GitHub Actions self-hosted runner on the web server
- name: GitHub Actions self-hosted runner
  hosts: web_servers

  # Loads environment variables from .env file
  vars:
    env: "{{ lookup('ansible.builtin.file', '../.env') }}"

  tasks:
    - name: Download and install runner
      ansible.builtin.shell: |
        mkdir ~/actions-runner && cd ~/actions-runner
        curl -o actions-runner-linux-x64-2.329.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.329.0/actions-runner-linux-x64-2.329.0.tar.gz
        tar xzf ./actions-runner-linux-x64-2.329.0.tar.gz

        GITHUB_PERSONAL_ACCESS_TOKEN=$(echo "{{ env }}" | grep -w GITHUB_PERSONAL_ACCESS_TOKEN | sed -e 's/.*=//')

        TOKEN=$(curl -L \
                -X POST \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer $GITHUB_PERSONAL_ACCESS_TOKEN" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/20095949-mateus-campos/networking-ca1/actions/runners/registration-token | \
                python3 -c "import sys, json; print(json.load(sys.stdin)['token'])")

        ./config.sh --url https://github.com/20095949-mateus-campos/networking-ca1 --token $TOKEN --unattended

    - name: Install and start runner service
      ansible.builtin.shell: |
        cd ~/actions-runner
        sudo ./svc.sh install
        sudo ./svc.sh start
